@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", sans-serif;
}
/* nav-bar style */
.navigationbar{
    background-color: #ff8f0e38;
    display: flex;
    align-items: center;
    /* padding: 0px 200px; */
    justify-content: space-between;
    margin-bottom: 0px;
    /* border: 1px solid rebeccapurple; */
    
    
}
.title{
    font-size: 2.8rem;
    margin-left: 100px;
}
nav > ul {
    display: flex;
    list-style: none;
    font-size: 1rem;
    margin-right: 80px;
}
nav li {
    margin-right: 3rem;
}
/* banner content work */
.banner{
    background-color: #ff8f0e38;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.banner-content{
    width: 862px;
}
.banner-title{
    font-size: 4rem;
}
.description{
    font-size: 1rem;
}
.primary-btn{
    width: 180px;
    height: 60px;
    border: none;
    background-color: #FF900E;
    font-size: 1.25rem;
    color: white;
    border-radius: 8px;
}
/* banner pic */
.bannerpic{
    background-color:#ff8f0e38 ;
    display: flex;
    justify-content: center;
    padding: 20px 170px;
}
.bannerpic img {
    width: 100%;
}
/* feature part */
.features{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 70px 120px 80px 180px ;
    margin-top: 0px;
}
.feature-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.feature-grid img {
    width: 100%;
}
.ash-color{
    color: #727272;
    font-weight: 500;
}
.orange-color{
    color: #FF900E;
}
.description{
    font-size: 1rem;
    color:#727272 ;
}
.feature-content{
    width:100%;
}
.feature-title{
    margin-bottom: 0px;
    margin-left: 0px;
}
/* experience banner */
.exp-banner{
    display: flex;
    max-width: 1440px;
    margin: 0px 150px;
}
.exp-banner-content{
    width:586px;
    margin-right: 30px;
}
.exp-banner-content .title{
    border-left: 5px solid #FF900E;
    margin-left: 0px;
    padding-left: 10px;
}
.exp-box-title{
    font-size: 20px;
    font-weight: 600;
}
.exp-div{
    box-shadow: 0px 5px 30px 0px #d2d0d039;
    border-radius: 8px;
    padding: 16px 20px;
}
.experience-div{
    background-color: #FF900E;
    width: 340px;
    height: 200px;
    color: white;
    text-align: center;
    padding:20px;
    border-radius: 8px;
    position: relative;
    bottom: 180px;
}
.exp-bold{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0px;
}
.exp-banner-picture img{
    margin-left: 40px;
    height: 85%;
    width: 93%;

}
/* fact section style */
.fact-container{
    max-width: 1440px;
    margin: 0px 150px;
}
.section-title{
    font-size: 45px;

}
.fact-container .section-title{
    margin-top: 0px;
    margin-bottom: 10px;
}
.fact-container .description{
    margin-bottom: 26px;
}
.card-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.card{
    border: 2px solid #FF900E;
    border-radius: 8px;
    padding: 40px;
}
.card-num{
    font-size: 45px;
    color: #424242;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 8px;
}
.card-description{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
    margin-bottom: 0px;
    margin-top: 8px;
}





















@media screen and (max-width:576px) {
    .navigationbar{
        flex-direction: column;
    } 
    .navigationbar .title {
        margin: 0px;
    }
    nav > ul {
        margin: 0px;
        margin-top: 20px;
    }
    .bannerpic{
        padding: 20px 20px;
    }  
    .features{
        padding: 10px;
    }
.features{
    flex-direction: column;
}
.feature-content{
    width: 100%;
    padding-left: 20px;
    padding-right: 15px;
}
.banner-content{
    padding-left: 10px;
    padding-right: 10px;
}
.feature-grid{
    grid-template-columns: 1fr;
}
.exp-banner{
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.exp-banner-content{
    width: 100%;
}
.exp-banner-picture img{
    margin-left: 13px;
}
.card-container{
    flex-direction: column;
    gap: 15px;
}
.fact-container {
    margin: 0px 10px;
}

}
@media screen and (min-width:576px) and (max-width:960px) {
    .bannerpic {
        padding: 20px 50px;
    }
    .features{
        padding: 50px;
    }
    .exp-banner {
        flex-direction: column;
        margin: 0px 50px;
    }
    .exp-banner-picture img{
        width: 95%;
    }
    .fact-container{
        margin: 0px 50px;
    }
    .card-container {
        gap: 10px;
    }
    .exp-banner-picture{
        /* padding-bottom: 0px; */
        height: 1150px;
    }
    
}