@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", sans-serif;
}
.navigationbar{
    background-color: #ff8f0e38;
    display: flex;
    align-items: center;
    padding: 2rem 9rem;
    justify-content: space-between;
}
.nav-title{
    font-size: 3rem;
}
nav > ul {
    display: flex;
    list-style: none;
    font-size: 1rem;
}
nav li {
    margin-right: 3rem;
}